@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@500&display=swap');

* {
    margin: 0 ;
    padding: 0;
}
:root {
 --font1:Tahoma,Geneva, Verdana, sans-serif ;
 --font2: 'Tsukimi Rounded', sans-serif;   
 --font3: 'Playpen Sans', cursive;   
}
html, body {
    min-height: 100vh;
    background-color:tan;
    
}



section {
    width: 100%;
    height: 600px;
    font-family: var(--font3);
    min-height: 300px;
    display: flex;
    align-items: center;
    font-size: 3.5vw;



}

@media (max-width: 768px) {
    p {
        font-size: 14px;
        padding: 10px;
    }
}
p {
    font-size: 1em;
    line-height: 1.5;
    padding: 20px;
}

section.normal {
    background-image: url(imagens/tora\ \(2\).jpg);
    background-size: cover;
    height: 300px;
    
    
}
section.normal > p {
    margin: auto;
    padding: 38px 7px 129px 10px;
    text-align: center;
    backdrop-filter: blur(20px);
    color: white;
    width: 100vw;
    height: 10vh;
    
    
    
}

section.imagem {
    color: white;
    background-attachment: fixed; 
    box-shadow: inset 1px 0px 20px 0px black;   

}
section.imagem > p {
    
    background-color: rgba(105, 105, 105, 0.37);
    display: inline-block;
    padding: 90px;
    text-align: left;
    
    
}
section.imagem#cozinha{
    background-image: url(imagens/cozinha.jpeg);
    background-size: cover;
    background-position: left center;
    max-width: 100%;
    height: auto;
}
section.imagem#granito{
    background-image: url(imagens/afdd3f00-7421-4465-ad4b-90bfe0070433.png);
    background-size: cover;
    background-position: left center;
    max-width: 100%;
    height: auto;
}